.donate-page {

    padding: 12rem 0;

    &__row {
        display: flex;
    }

    &__left {
        position: relative;

        &--pattern {
            top: 0px;
            left: -3.745rem;
            z-index: 0;
            transform: translate3d(0px, 20px, 0px);
            background-image: radial-gradient(var(--accent-color), 2px, transparent 2.5px);
            background-size: 1.75rem 1.75rem;
            position: absolute;
            opacity: 0.3;
            height: 18rem;
            width: 18rem;
        }

        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: 58.33333%;
        }
    }

    &__right {
        padding: 5rem 0 3.5rem 3.5rem;


        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: 41.66667%;
        }
    }


    .image-decor {
        &__row {
            display: flex;
        }

        &__right,
        &__left {
            z-index: 1;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 50%;
            }
        }


        &__left {
            &--image {
                margin-top: 5.345rem;
            }


            figure {

                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 100%;
                    order: 2 !important;
                }
            }
        }




        .stats {
            padding: 6rem 3rem;
            text-align: center;
            background-color: var(--accent-grey);
            border-radius: 1rem;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 83.33333%;
                margin-bottom: 2.5rem;
            }
        }
    }


    // Donations unested styles

    .donations {
        &__content {

            &__align {
                display: flex;
                flex-wrap: wrap;
            }

            &--amount {
                margin: 2em 1.5rem 2em 0;
                padding: 1.5rem;
                border-radius: 1rem;
                background: #fff;
                box-shadow: var(--shadow);

                span {
                    height: 3.5rem;
                    width: 3.5rem;
                    background: #f39f8691;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    line-height: 3.5rem;
                    font-size: 2rem;
                    font-weight: 700;
                    color: #f39f86;

                }

                h4 {
                    font-weight: 700;
                    margin-top: 10px;
                }


                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 30%;
                }
            }
        }

        &__custom-amount {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            width: 97%;

            span {
                text-align: center;
                padding: .6rem 1rem;
                line-height: 1.7;
                background-color: var(--alt-color);
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
                display: block;


                box-shadow: var(--shadow);

                svg {
                    height: 2.5rem;
                    width: 2.5rem;
                    fill: #fff;
                }

                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 33.33333%;
                }

            }

            input {
                display: block;
                width: 100%;
                padding: 0.85rem 1rem;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.7;
                color: var(--accent-grey);
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(8, 60, 130, 0.06);
                appearance: none;
                border-top-right-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
                box-shadow: var(--shadow);
                transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
                font-size: 1.6rem;

                    &:focus {
                        color: var(--text-color);
                        background-color: #fff;
                        border-color: var(--accent-color);
                        outline: 0;
                    }
            }

        }


        &__footer {

            footer {
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-top: 2rem;
            }


            .donations-button {
                margin-right: 1.5rem;
                border: 0;
                outline: 0;
                padding: 1.5rem;
                border-radius: 1rem;
                background: #fff;
                box-shadow: var(--shadow);
                // display: inline-block;

                &__icon {
                    margin-right: 2rem;
                    display: inline-block;
                    height: 3.5rem;
                    line-height: 3.5rem;
                    width: 3.5rem;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #169ad7b2;

                    svg {
                        height: 2.5rem;
                        width: 2.5rem;
                        // margin-top: .5rem;
                        fill: #253B80;
                    }


                }

                &__title {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

            }


        }


        &__stripe {
            .donations-button__icon {
                background-color: #f79f1b91;

                svg {
                    fill: #ff5f00;
                }
            }
        }

    }
}


// Contact Section

.contact-section {
    text-align: center;
    margin-bottom: 5rem;


    &__header {
        &--heading {
            margin-bottom: 1.5rem;
            font-size: 3.6rem;
        }

        &--subheading {
            margin-bottom: 4.5rem;
        }
    }

    .contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 768px;

        &__fieldset {
            display: block;
            width: 100%;
            padding: 0.85rem 1rem;
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.7;
            color: var(--accent-grey);
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(8, 60, 130, 0.06);
            appearance: none;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            font-size: 1.6rem;


            &:focus {
                color: var(--text-color);
                background-color: #fff;
                border-color: var(--accent-color);
                outline: 0;
            }
        }

        .personal-info,
        .contact-info,
        .contact-message {
            display: flex;



            >div {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-bottom: 1.5rem;

                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 50%;
                }
            }


            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        .contact-message {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
           

            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 100%;

            }


            &__error-last {
                 padding-bottom: 3rem;
            }
        }
    }
}