@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  background-color: #F2F3F7;
}

/********************************
** Intro Section
*/
.status-section {
  background-color: #fff;
  padding: calc(107px/2) 2.5rem;
  max-width: 1170px;
  margin: auto;
  -webkit-box-shadow: 0 4px 8px #bec1e057;
          box-shadow: 0 4px 8px #bec1e057;
  border-radius: 1rem;
  margin-top: 2rem;
}

.status-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status-section .status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status-section .status-box:first-of-type svg {
  fill: #d387ab;
}

.status-section .status-box__icon {
  margin-right: 2rem;
}

.status-section .status-box__icon svg {
  height: 3.325rem;
  width: 3.325rem;
  fill: #e899dc;
}

.MuiSelect-selectMenu,
.MuiButtonBase-root.MuiListItem-root {
  font-size: 1.6rem !important;
  font-family: 'Lato', sans-serif !important;
}

/********************************
** Stats Section
*/
.stats-section {
  margin-top: 3.5rem;
}

.stats-section__row {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats-section__left, .stats-section__right {
  -webkit-box-shadow: 0 4px 8px #bec1e057;
          box-shadow: 0 4px 8px #bec1e057;
  border-radius: 1rem;
  background: #fff;
  padding: 2rem;
}

.stats-section__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
  overflow-y: scroll;
  padding-top: 3.35rem;
  height: 65rem;
}

.stats-section__left::-webkit-scrollbar {
  width: .5em;
}

.stats-section__left::-webkit-scrollbar-track {
  background: #fff;
}

.stats-section__left::-webkit-scrollbar-thumb {
  background-color: #e899dc;
  background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
  border-radius: 90px;
}

.stats-section__left table {
  width: 100%;
  margin-top: 2rem;
}

.stats-section__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
}

/********************************
** Main Sidebar
*/
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.4rem;
  padding: .75rem;
}

.sidebar__global {
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .5rem;
  border: 1px solid #262C7C;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sidebar:nth-child(odd) {
  background-color: #f2f3f7;
}

.sidebar td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__country-flag img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.leaflet-zoom-animated path {
  fill: #FF3E29;
  stroke-opacity: 0;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__flag {
  height: 4rem;
  width: 4rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 4px 8px #bec1e057;
          box-shadow: 0 4px 8px #bec1e057;
  background-size: cover;
  background-position: center;
  margin-right: .735rem;
}

.popup__name {
  margin-bottom: .5rem;
}

.popup__recovered {
  color: #7DD71D;
}

.popup__deaths {
  color: #ff3e29;
}

.popup__active {
  color: #e99b0c;
}
/*# sourceMappingURL=main.css.map */